Options -MultiViews
RewriteEngine On

RewriteRule ^hello-world/?$ / [R=301,L]
RewriteRule ^category/uncategorized/?$ / [R=301,L]
RewriteRule ^e-floating-buttons/call-now/?$ / [R=301,L]
RewriteRule ^e-floating-buttons/call-now-1/?$ / [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ / [R=301,L]
